[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-cello-committers
	read = group GitHub Replication
[project]
	description = Cello project
	state = read only
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-cello-committers
	createTag = group ldap/hyperledger-gerrit-cello-committers
	createSignedTag = group ldap/hyperledger-gerrit-cello-committers
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-cello-committers
